.container {
  max-width: 90rem;
  padding: 3em 1em;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.view {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2em 1em;

  @media (min-width: 62.5em) {
    flex-direction: row;
  }
}
